*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
     
}

body{
    background: radial-gradient(50.53% 50.53% at 50.23% 49.47%, #414d59 0%,#1d2631 100%);
    color:#fff;
}

header{
    position:fixed;
    width:100%;
    top:0;
    right:0;
    z-index: 1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 8%;
    transition:all .55s ease;
    background:transparent;

}

.logo{
     display:flex;
     align-items: center;
     color:#fff;
     font-size: 28px;
     font-weight:bold;
}

.logo i{
    color:#34e7f8;
    font-size: 35px;
    margin-right: 5px;
}

.navbar{
    display:flex;
}

.navbar a{
    color:#fcfcfc;
    font-size: 1rem;
    font-weight: 500;
    margin:0 30px;
    transition:all .55s ease;
}

.navbar a:hover{
    color:#34e7f8;
}

.navbar a.active{
    color:#34e7f8;
}

.header-icons{
    display: flex;
    align-items: center;
}

#menu-icon{
    font-size:35px;
    color:#fff;
    z-index:10001;
    cursor:pointer;
}

.header-icons i{
    margin-right: 25px;
    font-size:28px;
    cursor:pointer;
    transition:all .55s ease;
}

.header-icons i:hover{
    transform: translateY(-5px);
    color:#34e7f8;
}

section{
    padding:0 15%;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.home-text h1{
    font-size: 6rem;
    line-height: 1.2;
    margin-bottom: 2px;
}

.home-text h5{
    color:#ffffff99;
    font-size: 14px;
    font-weight: 400;
    margin-bottom:60px;
}

.home-text h3{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 35px;

}

.btn{
    display:inline-block;
    padding:15px 70px;
    font-size:16px;
    font-weight: 500;
    background:transparent;
    border:2px solid #fff;
    color:#fff;
    transition: all .55s ease;
}

.btn:hover{
    background:#fff;
    border:2px solid #fff;
    color:#000;
}

.home-img img{
    max-width:  100%;
}



.main{
    position:absolute;
    top:50%;
    left:8%;
    transform: translatey(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2.5rem;
}

.row  img{
      width: 60px;
      height: auto;
      max-width: 100%;
}

.row{
    height: 50px;
    width: 50px;
    border-radius: 58%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:#34e7f8;
    transition: all .55s ease;
    cursor: pointer;
}

.row:hover{
    transform: translatey(-8px);
}

.bottom{
    position: absolute;
    bottom: 35px;
    right:8%;
    display:flex;
    align-items: center;
    color:#fff;
    font: size 15px;
    font-weight: 500;
}

.bottom i{
   color:#34e7f8;
   font-size: 25px;
   margin-left: 15px;
    transition: all .55s ease;
}

.bottom i:hover{
          transform: translateY(-8px);
          
}

.row1{
    background: #ff758d;
}
.row2{
    background:#ffd06d;
}


 
   
